<h1 class="animated fadeIn">{{heroe.nombre.toUpperCase()}}  <small>| ({{heroe.aparicion | date: 'y'}})</small></h1>

<div class="row animated fadeIn fast">
    <div class="col-md-4">

        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br><br>

        <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar...</a>

    </div>

    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div *ngIf="heroe.casa == 'Marvel'; else other">
            <img src="assets/img/Marvel-icon.png" alt="">
        </div>
        <ng-template #other>
            <img src="assets/img/DC-Comics-icon.png" alt="">
        </ng-template>
    </div>
</div>
